{% extends 'base.html.twig' %}
{% block plus %}

     <!-- Content -->
    <main class="main">
      <!-- Promo Block -->
      <div class="g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-cover g-bg-black-opacity-0_3--after g-py-100" style="background-image: url(assets/img-temp/1920x1080/img1.jpg);">
            <div class="container g-pos-rel g-z-index-1">
                <div class="g-mb-20">
                  <h1 class="g-color-white g-font-size-40 mb-0">Trouver un Logement</h1>
                </div>

                <div class="g-bg-white g-pa-30">
            <!-- Input Group -->
            <form>
                    <div class="row">
                        <div class="col-lg-8">
                            <input class="form-control rounded-0 g-brd-gray-light-v3 g-px-20 g-py-15" type="text" placeholder="Search by City, Address, ZIP ...">
                            <button class="col-lg-4" class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" style="width:100px; height:30px; margin-bottom:12px" type="submit">
                                <span class="violet">Search</span>
                            </button>
                        </div>
                    </div>
                </div>
                
                            <!-- Button Group -->
                {# <div class="row">
                    <div class="col-6 col-lg-3 g-mb-30">
                            <!-- Button Group -->
                        <div class="input-group-btn">
                            <select class="js-custom-select u-select-v1 w-100 g-brd-gray-light-v3 g-color-main g-color-primary--hover g-py-12" required
                                data-placeholder="All Status"
                                data-open-icon="fa fa-angle-down"
                                data-close-icon="fa fa-angle-up">
                                <option>type de bien</option>
                                <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="FR">Immeuble</option>
                                <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="FR">Appartement</option>
                                <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="FS">Maison</option>
                                <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="FC">Studio</option>
                            </select>
                                <input class="form-control rounded-0 g-brd-gray-light-v3 g-px-20 g-py-15" type="text" placeholder="Budget">
                        </div>
                    </div>
                </div> 
            </form>
            <!-- End Input Group -->
          </div>
        </div>
      </div>
      </div>
    <!-- Portfolio -->
            <div class="portfolio portfolio-page container">
                <div class="row">
                    <div class="portfolio-navigator span12">
                        <h4 class="filter-portfolio">
                            <a class="all" id="active-imgs" href="#">Tous</a> /
                            <a class="web-design" id="" href="#">Maison</a> /
                            <a class="logo-design" id="" href="#">Appartement</a> /
                            <a class="print-design" id="" href="#">Studiot</a>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <ul class="portfolio-img" style="heigth:50px">
                        <li data-id="p-1" data-type="web-design" class="span3">
                            <div class="work">
                                <a href="{{asset('assets/img/photo/08.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/photo/08.jpg')}}" alt="">
                                </a>
                                <h4>Maison non équipée</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <button><span class="violet"><a href="{{path('reserver')}}">RESERVER</a></span></button>
                            </div>
                        </li>
                        <li data-id="p-2" data-type="logo-design" class="span3">
                            <div class="work">
<<<<<<< HEAD
                                <a href="{{asset('assets/img/photo/02.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/photo/02.jpg')}}" alt="">
=======
                                <a href="{{asset('assets/img/photo/08.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/photo/08.jpg')}}" alt="">
>>>>>>> d9dbb9b9dad4dd10ffbe585d9081064e20999eda
                                </a>
                                <h4>Appartement Meublé</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <button><span class="violet"><a href="{{path('reserver')}}">RESERVER</a></span></button>
                            </div>
                        </li>
                        <li data-id="p-3" data-type="print-design" class="span3">
                            <div class="work">
                                <a href="{{asset('assets/img/photo/08.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/photo/08.jpg')}}" alt="">
                                </a>
                                <h4>Studiot Meublé</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <a href="services.html"><button><span class="violet">RESERVER</span></button></a>
                                </div>
                        </li>
                        <li data-id="p-4" data-type="web-design" class="span3">
                            <div class="work">
<<<<<<< HEAD
                                <a href="{{asset('assets/img/photo/02.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/photo/02.jpg')}}" alt="">
=======
                                <a href="{{asset('assets/img/photo/08.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/photo/08.jpg')}}" alt="">
>>>>>>> d9dbb9b9dad4dd10ffbe585d9081064e20999eda
                                </a>
                                <h4>Maison meublée</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <button><span class="violet"><a href="{{path('reserver')}}">RESERVER</a></span></button>
                            </div>
                        </li>
                        <li data-id="p-5" data-type="logo-design" class="span3">
                            <div class="work">
                                <a href="{{asset('assets/img/photo/08.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/photo/08.jpg')}}" alt="">
                                </a>
                                <h4>Appartement non Meublé</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <button><span class="violet">RESERVER</span></button>
                            </div>
                        </li>
                        <li data-id="p-6" data-type="print-design" class="span3">
                            <div class="work" style="heigth:50px">
<<<<<<< HEAD
                                <a href="{{asset('assets/img/photo/02.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/photo/02.jpg')}}" alt="">
=======
                                <a href="{{asset('assets/img/photo/08.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/photo/08.jpg')}}" alt="">
>>>>>>> d9dbb9b9dad4dd10ffbe585d9081064e20999eda
                                </a>
                                <h4>Studiot Meublé</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <button><span class="violet"><a href="{{path('reserver')}}">RESERVER</a></span></button>
                            </div>
                        </li>
                        <li data-id="p-7" data-type="web-design" class="span3">
                            <div class="work">
                                <a href="{{asset('assets/img/photo/08.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/photo/08.jpg')}}" alt="">
                                </a>
<<<<<<< HEAD
                                <h4>Maison avec espace de jeu</h4>
=======
                                <h4>Maison avec espace pour enfant</h4>
>>>>>>> d9dbb9b9dad4dd10ffbe585d9081064e20999eda
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <button><span class="violet"><a href="{{path('reserver')}}">RESERVER</a></span></button>
                            </div>
                        </li>
                        <li data-id="p-8" data-type="print-design" class="span3">
                            <div class="work">
<<<<<<< HEAD
                                <a href="{{asset('assets/img/photo/02.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/photo/02.jpg')}}" alt="">
=======
                                <a href="{{asset('assets/img/photo/08.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/photo/08.jpg')}}" alt="">
>>>>>>> d9dbb9b9dad4dd10ffbe585d9081064e20999eda
                                </a>
                                <h4>Studiot non Meublé</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <button><span class="violet"><a href="{{path('reserver')}}">RESERVER</a></span></button>
                            </div>
                        </li>
                        {# <li data-id="p-9" data-type="web-design" class="span3">
                            <div class="work">
                                <a href="{{asset('assets/img/portfolio/work9.jpg')}}" rel="prettyPhoto">
                                    <img src="assets/img/portfolio/work9.jpg" alt="">
                                </a>
                                <h4>Eiusmod Website</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                        </li> #}
                        {# <li data-id="p-10" data-type="logo-design" class="span3">
                            <div class="work">
                                <a href="{{asset('assets/img/portfolio/work10.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/portfolio/work10.jpg')}}" alt="">
                                </a>
                                <h4>Tempor Logo</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                        </li>
                        <li data-id="p-11" data-type="web-design" class="span3">
                            <div class="work">
                                <a href="{{asset('assets/img/portfolio/work11.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/portfolio/work11.jpg')}}" alt="">
                                </a>
                                <h4>Incididunt Website</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                        </li>
                        <li data-id="p-12" data-type="print-design" class="span3">
                            <div class="work">
                                <a href="{{asset('assets/img/portfolio/work12.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/portfolio/work12.jpg')}}" alt="">
                                </a>
                                <h4>Ut Labore Print</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                        </li> #}
                    {# </ul>
                </div>
            
             </div>  #}
{% endblock %}
{% block script %}
    <script>
    $(function()
{
$.ajax
({
    type: 'POST',
    url: 'requete.php',
    dataType: 'json',
    data: 'requete=contenu',
    success: function(server_answer)
    {
        console.log(server_answer);
        for (let i = 0; i < server_answer.Bien.length; i++) 
        {
            const element1 = server_answer.biens[i];
            const element2 = server_answer.images[i];
            console.log(element.nombien);
            libien = "<li class = 'nav-item lesbiens' id='" + element1.idbien + "'> <a href = '#' class='nav-link'>" + element1.nombien + "</a> </li>";
            $('#menuCat').append(libien);
            lesbiens = "<div class='card'> <div class='card-header'>" + element2.nombien + "</div> <div class = 'card-body' > <a href='#'> <img class='images' id='" + element2.idimage + "' data-prix='" + element2.idbien + "' src='" + element2.image + "'> </a> </div> </div>";
            $('#lesImages').append(lesProds);    
        }
    },
    error: function()
    {
        console.log("requete non executer");
    },
})
})
    </script>
{% endblock %}