{% extends "::base.html.twig" %}
{% block styles %}
    <style>
        .slogan{
            font-size: 20px;
            position: relative;
            top: 30px;
            right: 250px;
        }
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 40%;
            border-radius: 5px;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        img {
            border-radius: 5px 5px 0 0;
        }

        .container {
            padding: 2px 16px;
        }
        .img
        {
            width:200px;
        }
        li{
            list-style: none;
        }
    </style>
{% endblock %}
{% block main %}
    <!-- Slider -->
    {# {% block slide %} #}
       <!-- Slider -->
        <div class="slider">
            <div class="container">
                <div class="row">
                    <div class="span10 offset1">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="assets/img/photo/1.jpg">
                                    <img src="assets/img/photo/1.jpg">
                                    <p class="flex-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur.</p>
                                </li>
                                <li data-thumb="assets/img/photo/2.jpg">
                                    <img src="assets/img/photo/2.jpg">
                                    <p class="flex-caption">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                                </li>
                                <li data-thumb="assets/img/photo/5.jpg">
                                    <img src="assets/img/photo/5.jpg">
                                    <p class="flex-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur.</p>
                                </li>
                                <li data-thumb="assets/img/photo/6.jpg">
                                    <img src="assets/img/photo/6.jpg">
                                    <p class="flex-caption">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {# {% endblock %} #}

    <!-- Site Description -->
    <div class="presentation container">
        <h2>AVEC <span class="violet">AK1/2 IMMO</span>, trouver votre futur logement.</h2>
        <p>Votre maison on la vois comme vous.</p>
        <!-- partie recherche -->
    </div>
    <!-- Content -->
    <main class="main">
      <!-- Promo Block -->
      <div class="g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-cover g-bg-black-opacity-0_3--after g-py-100" style="background-image: url(assets/img-temp/1920x1080/img1.jpg);">
        <div class="container g-pos-rel g-z-index-1">
          <div class="g-mb-20">
            <h1 class="g-color-white g-font-size-40 mb-0">Trouver un Logement</h1>
          </div>

          <div class="g-bg-white g-pa-30"style="margin-top:50px;">
            <!-- Input Group -->
            <form method="post" action=""> 
            <div class="row" style="display:flex;margin-left:200px">
                <div class="col-lg-3">
                     <select name="typebien">
                        <option value=""> Choisir le Type Bien </option> 
                        {% for type in types %}
                         
                            <option value="{{type.id}}" > {{type.libelle}} </option>
                        {% endfor %}
                    </select>  
                </div>
                <div class="col-lg-3 "style="margin-left:30px;">
                      <select name="localite">
                        <option value=""> Choisir la localite </option> 
                        {% for localite in localites %}
                         
                            <option value="{{localite.id}}" > {{localite.nomlocalite}} </option>
                        {% endfor %}
                        
                    </select> 
                </div>  
                <div class="col-lg-3" style="margin-left:30px;">
                     <input name="prixmin"class="form-control rounded-0 g-brd-gray-light-v3 g-px-20 g-py-15" type="text" placeholder="prixMin">
                </div>
                <div class="col-lg-3" style="margin-left:30px;">
                     <input name="prixmax"class="form-control rounded-0 g-brd-gray-light-v3 g-px-20 g-py-15" type="text" placeholder="prixMax   ">
                </div>
                <div class="col-lg-3 bg-primary"style="margin-left:30px;">
                   <a href="{{path('viewBien')}}">
                     <input name="search"value="SEARCH"  style="width:100px; height:30px; margin-bottom:12px" type="submit">
                    </a>
                </div>
            </div>
       
            </form>
            
          </div>
    {% block plus %}
    {% endblock %}
    <div class="row" >

    
        
        <ul class="portfolio-img " style="heigth:50px;">
        {% for bien in biens %}
            {# <div class="card text-white bg-primary col-lg-4">
              {# <img class="card-img-top" src="holder.js/100px180/" alt=""> #}
              {# <div class="card-body">  #}
              
            <li data-id="" data-type="web-design" class="span3">
                <ul>
                    {% for image in bien.images %}
                        <li>
                        <img src="{{asset('assets/img/photo/'~image.image)}}"class="img">
                        </li>
                    {% endfor %}
                    <li>{{bien.typebien}}</li>
                    <li>{{bien.nombien}}</li>
                    <li>{{bien.prixlocation }} FCFA</li>
                    <li>{{bien.localite }}</li>
                </ul>
                  <div class="icon-awesome">
                    {% for image in bien.images %}
                        <a href="{{asset('assets/img/photo/'~image.image)}}" rel="prettyPhoto"><i class="icon-search"></i></a>
                        <a class="pp_close" href="#">Close</a>
                         {% endfor %}
                    </div>
                <a href="{{path('reserver', {'id':bien.id})}}"><button><span class="violet">RESERVER</span></button></a>
            </li> 
            {# </div>
            </div> #}
        {% endfor %} 
        </ul>
    </div> 
    
    {# <div class="text-center">{{ knp_pagination_render(biens) }}</div> #}

    {# <div class="col-lg-12">
        <ul style="display: flex;">
        {% for bien in biens %}
            <div class="card text-white bg-primary">
              <img class="card-img-top" src="holder.js/100px180/" alt="">
              <div class="card-body">
              
            <li>
                <ul>
                    {% for image in bien.images %}
                        <li>
                        <img src="{{asset('assets/img/photo/'~image.image)}}"class="img">
                        </li>
                    {% endfor %}
                    <li>{{bien.typebien}}</li>
                    <li>{{bien.nombien}}</li>
                    <li>{{bien.prixlocation }}</li>
                </ul>
                <a href="{{path('reserver', {'id':bien.id})}}"><button><span class="violet">RESERVER</span></button></a>
            </li>
            </div>
            </div>
        {% endfor %}
        </ul>
    </div>  #}
{# <thead>
<tr>
<th>nom</th>
<th>prix</th>
<th>description</th>
<th>localite</th>
<th>typebien</th>
<th>Image</th>
</tr>
</thead> #}
{# <tbody> #}
{# <tr> #}
{# <li>{{bien.description}}</li>
<li>{{bien.localite}}</li> #}
{# <li>{{bien.typebien}}</li> #}
 {# <td> #}
 {# </tbody> #}   
 

{#  </td> #} 
{#  <style>
 .img
 {
     width:200px;
 }
 </style>
 #}
{# {% if bien.etat == false %}
<td> <a href="{{path('etat',{'id':bien.id})}}">libre</a> </td>
{% else %}
<td> <a href="{{path('etat',{'id':bien.id})}}">occupé</a> </td>
{% endif %} #}   
     {# <!-- Portfolio -->
             <div class="portfolio portfolio-page container"id="portfolio">
           
                <div class="row">
                    <ul class="portfolio-img" style="heigth:50px">
                        <li data-id="p-1" data-type="web-design" class="span3">
                            <div class="work">
                                <a href="{{asset('assets/img/photo/08.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/photo/08.jpg')}}" alt="">
                                </a>
                                <h4>{{bien.nombien}}</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <button><span class="violet">RESERVER</span></button>
                            </div>
                        </li>
                        <li data-id="p-2" data-type="logo-design" class="span3">
                            <div class="work">
                                <a href="{{asset('assets/img/photo/08.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/photo/08.jpg')}}" alt="">
                                </a>
                                <h4>Appartement Meublé</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <button><span class="violet">RESERVER</span></button>
                            </div>
                        </li>
                        <li data-id="p-3" data-type="print-design" class="span3">
                            <div class="work">
                                <a href="{{asset('assets/img/photo/08.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/photo/08.jpg')}}" alt="">
                                </a>
                                <h4>Studiot Meublé</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <button><span class="violet">RESERVER</span></button>
                                </div>
                        </li>
                        <li data-id="p-4" data-type="web-design" class="span3">
                            <div class="work">
                                <a href="{{asset('assets/img/photo/08.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/photo/08.jpg')}}" alt="">
                                </a>
                                <h4>Maison meublée</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <button><span class="violet">RESERVER</span></button>
                            </div>
                        </li>
                        <li data-id="p-5" data-type="logo-design" class="span3">
                            <div class="work">
                                <a href="{{asset('assets/img/photo/08.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/photo/08.jpg')}}" alt="">
                                </a>
                                <h4>Appartement non Meublé</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <button><span class="violet">RESERVER</span></button>
                            </div>
                        </li>
                        <li data-id="p-6" data-type="print-design" class="span3">
                            <div class="work" style="heigth:50px">
                                <a href="{{asset('assets/img/photo/08.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/photo/08.jpg')}}" alt="">
                                </a>
                                <h4>Studiot Meublé</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <button><span class="violet">RESERVER</span></button>
                            </div>
                        </li>
                        <li data-id="p-7" data-type="web-design" class="span3">
                            <div class="work">
                                <a href="{{asset('assets/img/photo/08.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/photo/08.jpg')}}" alt="">
                                </a>
                                <h4>Maison avec espace de jeu </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <button><span class="violet">RESERVER</span></button>
                            </div>
                        </li>
                        <li data-id="p-8" data-type="print-design" class="span3">
                            <div class="work">
                                <a href="{{asset('assets/img/photo/08.jpg')}}" rel="prettyPhoto">
                                    <img src="{{asset('assets/img/photo/08.jpg')}}" alt="">
                                </a>
                                <h4>Studiot non Meublé</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <button><span class="violet">RESERVER</span></button>
                            </div>
                        </li>
                  
                        
                    </ul>
                </div>
               #}
            
{% endblock %}
