{# {% extends "::base.html.twig" %} #}

{# {% block style %}
     <style>
        h1{
            text-align:center;    
        }
    </style> 
{% endblock %} #}
{% block body %}
{{form(form)}} 
 {% block main %} 
  <form method="post" action="">
                        <label for="name" class="nameLabel">Username</label>
                          <input id="name" type="text" name="login" placeholder="Enter your username...">
                       
                         <label for="subject">Password</label>
                          <input id="password" type="password" name="password" placeholder="Your password...">
                        
                         <button type="submit" name="connecter">connecter</button>
  </form>

  <div class="row" >

    
        
        <ul class="portfolio-img " style="heigth:50px;">
        {% for bien in biens %}
              
            <li data-id="" data-type="web-design" class="span3">
                <ul>
                    {% for image in bien.images %}
                        <li>
                        <img src="{{asset('assets/img/photo/'~image.image)}}"class="img">
                        </li>
                    {% endfor %}
                    <li>{{bien.typebien}}</li>
                    <li>{{bien.nombien}}</li>
                    <li>{{bien.prixlocation }} FCFA</li>
                    <li>{{bien.localite }}</li>
                </ul>
                  <div class="icon-awesome">
                    {% for image in bien.images %}
                        <a href="{{asset('assets/img/photo/'~image.image)}}" rel="prettyPhoto"><i class="icon-search"></i></a>
                        <a class="pp_close" href="#">Close</a>
                         {% endfor %}
                    </div>
                <a href="{{path('reserver', {'id':bien.id})}}"><button><span class="violet">RESERVER</span></button></a>
            </li> 
            {# </div>
            </div> #}
        {% endfor %} 
        </ul>
    </div> 
{#
<div class="contact-us container">
            <div class="row">
                <div class="contact-form span6">
                    <p><h1>INSCRIPTION</h1></p>
                    <form method="post" action="assets/sendmail.php">
                     <label for="name" class="nameLabel">Name</label>
                          <input id="name" type="text" name="name" placeholder="Enter your name...">
                         <label for="numpiece" class="numpieceLabel">Numero CNI</label>
                          <input id="numpiece" type="text" name="numpiece" placeholder="Enter your CNI number...">
                         <label for="tel" class="telLabel">TEL</label>
                          <input id="name" type="text" name="tel" placeholder="Enter your phone ...">
                        <label for="address" class="addressLabel">Address</label>
                          <input id="name" type="text" name="adresse" placeholder="Enter your address...">
                        <label for="email" class="emailLabel">Email</label>
                          <input id="email" type="email" name="email" placeholder="Enter your email...">
                        <label for="login" class="loginLabel">Login</label>
                          <input id="login" type="text" name="login" placeholder="Enter your login...">
                        <label for="password">Password</label>
                          <input id="password" type="password" name="password" placeholder="Your password...">
                         {# <label for="message" class="messageLabel">Message</label> #}
                          {# <textarea id="message" name="message" placeholder="Your message..."></textarea> #} 
                        {# <input type="submit" name="envoyer" value="Envoyer">
                    </form>
                </div>
                <div class="contact-form span6">
                <p><h1>AUTHENTIFICATION<h1></p>
                    <form method="post" action="assets/sendmail.php">
                        <label for="name" class="nameLabel">Username/Email</label>
                          <input id="name" type="text" name="name" placeholder="Enter your username/password...">
                        {# <label for="email" class="emailLabel">Email</label>
                          <input id="email" type="text" name="email" placeholder="Enter your email..."> #}
                        {# <label for="subject">Password</label>
                          <input id="password" type="password" name="password" placeholder="Your password...">
                         {# <label for="message" class="messageLabel">Message</label> #}
                          {# <textarea id="message" name="message" placeholder="Your message..."></textarea> #} 
                        {# <button type="submit">Send</button>
                    </form>
                </div>
            </div> #}
{# </div>      #}
 {% endblock %} 
{% endblock %} 