
{% extends "::base.html.twig" %}

<<<<<<< HEAD
 
{% block body %}
<div class="container">
<h1 style="text-align:center;margin-top:10px;"> Voici la liste des Biens </h1>
<div class="col-12 ">
=======

 {% block body %} 
 <h1> welcome </h1>
>>>>>>> 18c4eeb6907d4175d04795bcc8b605fb449d141b

<table id="table" >
<tr>

<th>nom</th>
<th>prix</th>
<th>description</th>
<th>localite</th>
<th>type</th>
<th>Image</th>

</tr>
{%for bien in biens %}
<tr>

<td>{{bien.nombien}}</td>
<td>{{bien.prixlocation }}</td>
<td>{{bien.description}}</td>
<td>{{bien.localite}}</td>
<td>{{bien.typebien}}</td>
 <td>
    
 {% for image in bien.images %}
 {# {{image.image}} #}
   <img src="{{asset('assets/img/photo/'~image.image)}}"class="img">

{% endfor %}

<<<<<<< HEAD
 </td> 
 <td>
 <a href="{{path('reservateBien')}}">RESERVER</a>
 </td>
  <style>
 .img
 {
     width:200px;
 }
 </style>


</tr>


{%endfor%}
</table>
</div>

</div>
{% block javascripts %}
     <script type="text/javascript" src="{{ asset('jsakimo/akimo.js') }}"></script>
{% endblock %}
=======
 </td>
 {% endfor %}
 
 
>>>>>>> 18c4eeb6907d4175d04795bcc8b605fb449d141b

{% endblock %}


