

{% extends "::base.html.twig" %}


 {% block body %} 
 <h1> welcome </h1>

<table id="table" >
<tr>

<th>nom</th>
<th>prix</th>
<th>description</th>
<th>localite</th>
<th>type</th>
<th>Image</th>

</tr>
{%for bien in biens %}
<tr>

<td>{{bien.nombien}}</td>
<td>{{bien.prixlocation }}</td>
<td>{{bien.description}}</td>
<td>{{bien.localite}}</td>
<td>{{bien.typebien}}</td>
 <td>
    
 {% for image in bien.images %}
 {# {{image.image}} #}
   <img src="{{asset('assets/img/photo/'~image.image)}}"class="img">

{% endfor %}

 </td>
 {% endfor %}
 
 

{% endblock %}

