

{% extends '::layout1.html.twig' %}
   {% block stylesheet %}
   {{ parent () }}
   {# <link rel="stylesheet" href="{{asset('DataTables/datatables.css')}}">  #}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
 
   {% endblock %}
   {# {% block article %}
        <ul id="menu">
           <li><a href="">Bien</a></li>
            <li class="list"><a href="">Localite</a></li>
            <li><a href="">Type</a></li>                    
        </ul>
   {% endblock %} #}
 
{% block aside %}
<div id="aside">
<div class="container">
<h1 style="text-align:center;margin-top:10px;"> Voici la liste des Biens </h1>
<div class="col-12 ">

<table id="table" >
<tr>

<th>nom</th>
<th>prix</th>
<th>description</th>
<th>localite</th>
<th>type</th>
<th>Image</th> 

</tr>
{%for bien in biens %}
<tr>

<td>{{bien.nombien}}</td>
<td>{{bien.prixlocation }}</td>
<td>{{bien.description}}</td> 
<td>{{bien.localite}}</td>
<td>{{bien.typebien}}</td> 
  <td>
    
 {% for image in bien.images %}
 
    <img src="{{asset('assets/img/photo/'~image.image)}}"class="img">

 {% endfor %} 

 </td>   
 <td>
 <a href="{{path('reserver',{'id':bien.id})}}">RESERVER</a>
 </td>
  <style>
 .img
 {
     width:200px;
 }
 </style>



</tr>
{% endfor %} 
</table>
 {# <div class="text-center">{{ knp_pagination_render(biens) }}</div> #}

</div>

</div>
</div>
{% endblock %}

{# {% block javascript %}
 {{ parent () }} 
 <script type="text/javascript" src="{{asset('DataTables/datatables.js')}}"></script> 
 {# <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>  #}
{# <script src="{{asset('jsakimo/akimo.js')}}"></script> #}
 
      
     
      {# <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
       <script type="text/javascript" src="{{ asset('DataTables/datatables.js') }}"></script>
       <script type="text/javascript" src="{{ asset('jsakimo/akimo.js') }}"></script>  #}
  
     
{# {% endblock %}  #}


